Options -Indexes

RewriteEngine On

# Si el archivo o carpeta existe, no tocar
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Soporte para .aspx, .ashx, .html → quitar extensión
RewriteRule ^(.*)\.(aspx|ashx|html)$ $1 [L]

# Convertir rutas sin extensión a .php
RewriteRule ^([^\.]+)$ $1.php [NC,L]

# Fallback a error.php si no existe nada
RewriteRule .* /error.php [L]
